<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Lista de Usuários</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>

<body>
<div class="panel panel-default" style="margin: 10px">
  <div class="panel-heading">
    <h1 class="panel-title">Lista de usuários</h1>
  </div>
  <div class="panel-body">
    <form class="form-inline" method="POST" th:action="@{/users}" style="margin: 20px 0">
      <div class="form-group">
        <input type="text" class="form-control"
               name="name" placeholder="Nome"/>
        <input type="text" class="form-control"
               name="email" placeholder="E-mail"/>
        <input type="text" class="form-control"
               name="cpf" placeholder="CPF"/>
        <select class="form-control" name="type">
          <option value="STUDENT">Student</option>
          <option value="TEACHER">Teacher</option>
        </select>
        <button type="submit"
                class="btn btn-primary">Adicionar
        </button>
      </div>
    </form>
    <table class="table">
      <thead>
      <tr>
        <th>id</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>CPF</th>
        <th>Tipo</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.cpf}"></td>
        <td th:text="${user.type}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>