<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Lista de Laboratórios</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">SISTEMA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./users">Usuários<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="./laboratories">Laboratórios<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./equipments">Equipamentos<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./logout">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="card m-5">
  <div class="card-header">
    <h3 class="card-title">Lista de laboratórios</h3>
  </div>
  <div class="card-body">
    <form method="POST" th:action="@{/laboratories}" style="margin: 20px 0">
      <div class="form-row">
        <div class="col form-group">
          <input type="text" class="form-control"
                 name="name" placeholder="Nome"/>
        </div>

        <div class="col form-group">
          <button type="submit"
                  class="btn btn-primary">Adicionar
          </button>
        </div>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="laboratory : ${laboratories}">
        <td th:text="${laboratory.id}"></td>
        <td th:text="${laboratory.name}"></td>
        <td>
          <div class="float-right">
            <a class="btn btn-primary"
               th:data-laboratory="${laboratory}"
               th:onclick="javascript:showModalUpdateLaboratory(this.getAttribute('data-laboratory'))">Editar</a>
            <a class="btn btn-danger"
               th:onclick="'javascript:deleteLaboratory(' + ${laboratory.id} + ')'">Excluir</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editando usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form style="margin: 20px 0">
          <div class="form-row">
            <div class="col form-group">
              <input type="hidden" class="form-control"
                     name="id" placeholder="id"
                     id="idUpdate"/>
              <input type="text" class="form-control"
                     name="name" placeholder="Nome"
                     id="nameUpdate"/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary"
                onclick="SaveUpdatesToLaboratory()">Salvar mudanças
        </button>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script type="text/javascript">

    function deleteLaboratory(id) {
        if (confirm("Deseja realmente excluir este registro?")) {
            $.ajax({
                url: '/laboratories/delete/' + id,
                type: 'GET',
                success: function (result) {
                    window.location = "/laboratories";
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("Erro: O laboratório possui dados atrelados!");
                }
            });
        }
    }

    function updateLaboratory(laboratory) {
        $.ajax({
            url: '/laboratories/delete/' + id,
            type: 'GET',
            success: function (result) {
                window.location = "/laboratories";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Erro: O laboratório possui dados atrelados!");
            }
        });
    }

    function showModalUpdateLaboratory(laboratoryJson) {
        var laboratory = JSON.parse(laboratoryJson);
        $('#modalUpdate').modal('show');
        $('#idUpdate').val(laboratory.id);
        $('#nameUpdate').val(laboratory.name);
    }

    function SaveUpdatesToLaboratory() {
        $('#modalUpdate').modal('hide');

        var id = $('#idUpdate').val();
        var name = $('#nameUpdate').val();

        $.ajax({
            url: '/laboratories/update/' + id,
            type: 'POST',
            data: {name: name },
            success: function (result) {
                alert("Laboratório editado com sucesso!");
                window.location = "/laboratories";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Erro: Não foi possível editar o laboratório!");
            }
        });
    }

</script>
</body>
</html>