<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Lista de Usuários</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>

<body>
<div class="card" style="margin: 10px">
  <div class="card-header">
    <h3 class="card-title">Lista de usuários</h3>
  </div>
  <div class="card-body">
    <form method="POST" th:action="@{/users}" style="margin: 20px 0">
      <div class="form-row">
        <div class="col form-group">
          <input type="text" class="form-control"
                 name="name" placeholder="Nome"/>
        </div>
        <div class="col form-group">
          <input type="text" class="form-control"
                 name="email" placeholder="E-mail"/>
        </div>

        <div class="col form-group">
          <input type="text" class="form-control"
                 name="cpf" placeholder="CPF"/>
        </div>

        <div class="col-md-1 form-group">
          <select class="form-control" name="type">
            <option value="STUDENT">Student</option>
            <option value="TEACHER">Teacher</option>
          </select>
        </div>

        <div class="col form-group">
          <button type="submit"
                  class="btn btn-primary">Adicionar
          </button>
        </div>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">CPF</th>
        <th scope="col">Tipo</th>
        <th scope="col">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.cpf}"></td>
        <td th:text="${user.type}"></td>
        <td>
          <div class="float-right">
            <a class="btn btn-primary">Editar</a>
            <a class="btn btn-danger"
               th:onclick="'javascript:deleteUser(' + ${user.id} + ')'">Excluir</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script type="text/javascript">

    function deleteUser(id) {
        if (confirm("Deseja realmente excluir este registro?")) {
            $.ajax({
                url: '/users/delete/' + id,
                type: 'GET',
                success: function (result) {
                    window.location = "/users";
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("Erro: O usuário possui dados atrelados!");
                }
            });
        }
    }

</script>
</body>
</html>