<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Lista de Equipamentos</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">SISTEMA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./users">Usuários<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./laboratories">Laboratórios<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="./equipments">Equipamentos<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./reserve-laboratories">Reserva de laborátorios<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./reserve-equipments">Reserva de equipamentos<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./logout">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="card m-5">
  <div class="card-header">
    <h3 class="card-title">Lista de equipamentos</h3>
  </div>
  <div class="card-body">
    <form style="margin: 20px 0">
      <div class="form-row">
        <div class="col form-group">
          <input type="text" class="form-control"
                 id="name"
                 name="name" placeholder="Nome"/>
        </div>

        <div class="col-md-3 form-group">
          <select class="form-control" name="laboratoryId" id="laboratoryId">
            <option th:each="laboratory : ${laboratories}" th:value="${laboratory.id}" th:text="${laboratory.name}"></option>
          </select>
        </div>

        <div class="col form-group">
          <button type="button"
                  class="btn btn-primary"
                  onclick="saveEquipment()">Adicionar
          </button>
        </div>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">Laboratório</th>
        <th scope="col">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="equipment : ${equipments}">
        <td th:text="${equipment.id}"></td>
        <td th:text="${equipment.name}"></td>
        <td th:text="${equipment.laboratory.name}"></td>
        <td>
          <div class="float-right">
            <a class="btn btn-primary text-white"
               th:data-equipment="${equipment}"
               th:onclick="javascript:showModalUpdateEquipment(this.getAttribute('data-equipment'))">Editar</a>
            <a class="btn btn-danger text-white"
               th:onclick="'javascript:deleteEquipment(' + ${equipment.id} + ')'">Excluir</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editando equipamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form style="margin: 20px 0">
          <div class="form-row">
            <div class="col form-group">
              <input type="hidden" class="form-control"
                     name="id" placeholder="id"
                     id="idUpdate"/>
              <input type="text" class="form-control"
                     name="name" placeholder="Nome"
                     id="nameUpdate"/>
            </div>
            <div class="col-md-6 form-group">
              <select class="form-control" name="laboratoryId" id="laboratoryIdUpdate"/>>
                <option th:each="laboratory : ${laboratories}" th:value="${laboratory.id}" th:text="${laboratory.name}"></option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary"
                onclick="SaveUpdatesToEquipment()">Salvar mudanças
        </button>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script type="text/javascript">

    function saveEquipment() {
        var name = $('#name').val();
        var laboratoryId = $('#laboratoryId').val();

        $.ajax({
            url: '/equipments',
            type: 'POST',
            data: {name: name, laboratoryId: laboratoryId},
            success: function (result) {
                alert("Equipamento adicionado com sucesso!");
                window.location = "/equipments";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Erro: Não foi possível adicionar o equipamento!");
            }
        });
    }

    function deleteEquipment(id) {
        if (confirm("Deseja realmente excluir este registro?")) {
            $.ajax({
                url: '/equipments/delete/' + id,
                type: 'GET',
                success: function (result) {
                    window.location = "/equipments";
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("Erro: O equipamento possui dados atrelados!");
                }
            });
        }
    }

    function showModalUpdateEquipment(equipmentJson) {
        var equipment = JSON.parse(equipmentJson);
        $('#modalUpdate').modal('show');
        $('#idUpdate').val(equipment.id);
        $('#nameUpdate').val(equipment.name);
        $('#laboratoryIdUpdate').val(equipment.laboratory.id);
    }

    function SaveUpdatesToEquipment() {
        $('#modalUpdate').modal('hide');

        var id = $('#idUpdate').val();
        var name = $('#nameUpdate').val();
        var laboratoryId = $('#laboratoryIdUpdate').val();

        $.ajax({
            url: '/equipments/update/' + id,
            type: 'POST',
            data: {name: name, laboratoryId: laboratoryId },
            success: function (result) {
                alert("Equipamento editado com sucesso!");
                window.location = "/equipments";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Erro: Não foi possível editar o equipamento!");
            }
        });
    }

</script>
</body>
</html>