<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Login</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 container-login p-0 m-5">
        <h2 class="font-weight-bold border-bottom p-4 text-center">Sistema de Reservas</h2>
        <form method="POST" th:action="@{/login}" class="bg-white p-4">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="E-mail">
          </div>
          <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
          </div>
          <button type="submit" class="btn bg-secondary text-white mt-3 btn-block">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>